src/main/resources/logicclock-xschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="unqualified" attributeFormDefault="unqualified">
    <xs:element name="packet" type="packet"/>
    <xs:complexType name="packet">
        <xs:sequence>
            <xs:element name="payload" type="xs:normalizedString"/>
            <xs:element name="timestamp" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>


